@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}
@media screen and (max-width: 1140px) {
  .container {
    max-width: 940px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 798px;
  }
}
@media screen and (max-width: 820px) {
  .container {
    max-width: 748px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 586px;
  }
}
@media screen and (max-width: 596px) {
  .container {
    max-width: 576px;
    padding: 0 1rem;
  }
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  transition: 0.2s;
}
header.top {
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
header .nav {
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  transition: 0.2s;
}
header .nav.top {
  padding: 15px 0;
}
header .nav__logo {
  width: 95px;
  margin-right: 186px;
}
header .nav__burger {
  width: 48px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
header .nav__burger i {
  font-size: 2rem;
}
header .nav__burger i.bi-x-lg {
  font-size: 1.7rem;
}
header .nav__list {
  width: 100%;
  align-items: center;
}
header .nav__list--item {
  margin-right: 40px;
}
header .nav__list--item-link {
  color: #1a0a03;
  text-transform: capitalize;
}
header .nav__list--item-link.active {
  color: #ee5514;
}
header .nav__list--btn {
  margin-left: auto;
  padding: 15px 30px;
  background-color: #ee5514;
  border-radius: 5px;
}
header .nav__list--btn a {
  font-size: 18px;
  color: #fff;
}

#main .home {
  width: 100%;
  height: 100vh;
  position: relative;
}
#main .home::after {
  content: "";
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(110deg, #fdeee8 75%, #fff 75%);
}
#main .home .container {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}
#main .home__left {
  width: 50%;
}
#main .home__left-title {
  width: 366px;
  font-size: 3.8rem;
  font-family: "Source Serif Pro", serif;
  line-height: 4.6rem;
  margin-bottom: 1.25rem;
}
#main .home__left-title span {
  font-family: "Source Serif Pro", serif;
  color: #ee5514;
}
#main .home__left-text {
  width: 326px;
  line-height: 1.6rem;
  opacity: 0.7;
}
#main .home__slider {
  width: 50%;
}
#main .home__slider-card {
  width: 598px;
  height: 400px;
  padding: 0 100px;
  position: relative;
}
#main .home__slider-card--arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fdeee8;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
#main .home__slider-card--arrow i {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.7);
}
#main .home__slider-card--border {
  width: 100%;
  height: 100%;
  border: 10px solid #f7b69a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .home__slider-card--border .krosovka {
  width: 100%;
  position: relative;
  z-index: 2;
  transform: scale(1.5) translateX(-5%);
}
#main .home__slider-card--border .ellipse {
  position: absolute;
  bottom: -20%;
  left: -25%;
  z-index: 1;
}
#main .home__slider-card--border .fense {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
}
#main .home__bottom {
  position: absolute;
  bottom: -67px;
  left: 15%;
  align-items: center;
  justify-content: space-evenly;
  width: 792px;
  height: 125px;
  background: #ffffff;
  box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
  border-radius: 5px;
}
#main .home__bottom--item {
  align-items: center;
}
#main .home__bottom--item p {
  color: #1a0a03;
  opacity: 0.7;
  text-transform: capitalize;
  margin-bottom: 0.7rem;
}
#main .home__bottom--item h3 {
  font-weight: 500;
  font-size: 18px;
}
#main .home__bottom--item h3 span {
  margin-right: 5px;
}
#main .home__bottom--item .line {
  width: 1px;
  height: 42px;
  background-color: #ee5514;
  margin-left: 3rem;
}
#main .home__bottom--button {
  padding: 15px 30px;
  background-color: #ee5514;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
#main .video {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}

@media screen and (max-width: 1200px) {
  #main .home__slider-card {
    width: 100%;
    padding: 0 50px;
  }
  #main .home__slider-card--arrow {
    right: -25px;
    z-index: 3;
  }
}
@media screen and (max-width: 1140px) {
  #main .home__slider-card {
    width: 85%;
    height: 350px;
    padding: 0 20px;
  }
  #main .home__slider-card--arrow {
    right: -50px;
  }
}
@media screen and (max-width: 992px) {
  header .nav__logo {
    width: 95px;
    margin-right: 186px;
  }
  header .nav__burger {
    display: flex;
  }
  header .nav__list {
    position: absolute;
    top: 125px;
    left: -100%;
    background-color: #fff;
    height: calc(100vh - 125px);
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
  }
  header .nav__list.active {
    left: 0;
    top: 125px;
    height: calc(100vh - 125px);
  }
  header .nav__list.active-scroll {
    top: 75px;
    height: calc(100vh - 75px);
  }
  header .nav__list--item {
    margin-right: 0;
    margin-bottom: 1.7rem;
  }
  header .nav__list--item-link {
    font-size: 1.6rem;
  }
  header .nav__list--btn {
    margin-left: 0;
  }
  #main .home {
    padding: 150px 0;
    height: auto;
  }
  #main .home::after {
    width: 100%;
    background: linear-gradient(105deg, #fdeee8 70%, #fff 70%);
  }
  #main .home .container {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
  }
  #main .home__left {
    width: 100%;
    margin-bottom: 2rem;
  }
  #main .home__left-title {
    width: 366px;
    margin: 0 auto 1.25rem;
    text-align: center;
  }
  #main .home__left-text {
    width: 326px;
    margin: 0 auto;
    text-align: center;
  }
  #main .home__slider {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #main .home__slider-card {
    width: 60%;
    padding: 0;
  }
  #main .home__slider-card--arrow {
    top: 50%;
    right: -100px;
  }
  #main .home__slider-card--border .krosovka {
    transform: scale(1.4) translateX(-3%);
  }
  #main .home__slider-card--border .ellipse {
    left: -15%;
  }
  #main .home__bottom {
    bottom: -45px;
    left: 10%;
    width: 510px;
    height: 90px;
  }
  #main .home__bottom--item p {
    margin-bottom: 0.3rem;
  }
  #main .home__bottom--item h3 {
    font-weight: 500;
    font-size: 18px;
  }
  #main .home__bottom--item h3 span {
    margin-right: 3px;
  }
  #main .home__bottom--item h3 img {
    width: 0.8rem;
    height: 0.4rem;
  }
  #main .home__bottom--item .line {
    height: 42px;
    margin-left: 1rem;
  }
  #main .home__bottom--button {
    padding: 8px 16px;
    font-size: 1rem;
  }
  #main .video {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
  }
}
@media screen and (max-width: 768px) {
  #main .home__slider-card {
    width: 75%;
    padding: 0;
  }
  #main .home__slider-card--arrow {
    top: 50%;
    right: -70px;
  }
  #main .home__slider-card--border .ellipse {
    left: 0%;
    width: 100%;
  }
  #main .home__bottom {
    left: 5%;
  }
  #main .video {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
  }
}
@media screen and (max-width: 576px) {
  #main .home {
    padding: 150px 0 100px 0;
  }
  #main .home__slider-card {
    width: 75%;
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main .home__slider-card--arrow {
    top: 50%;
    right: -70px;
  }
  #main .home__slider-card--border .krosovka {
    position: relative;
    width: 100%;
    transform: scale(1.5);
  }
  #main .home__slider-card--border .ellipse {
    left: 0%;
    width: 100%;
  }
  #main .home__bottom {
    display: none;
  }
  #main .video {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
  }
}/*# sourceMappingURL=style.css.map */