@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}
@media screen and (max-width: 1140px) {
  .container {
    max-width: 940px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 798px;
  }
}
@media screen and (max-width: 820px) {
  .container {
    max-width: 748px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 586px;
  }
}
@media screen and (max-width: 596px) {
  .container {
    max-width: 576px;
    padding: 0 1rem;
  }
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  transition: 0.2s;
}
header.top {
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
header .nav {
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  transition: 0.2s;
}
header .nav.top {
  padding: 15px 0;
}
header .nav__logo {
  width: 95px;
  margin-right: 186px;
}
header .nav__burger {
  width: 48px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
header .nav__burger i {
  font-size: 2rem;
}
header .nav__burger i.bi-x-lg {
  font-size: 1.7rem;
}
header .nav__list {
  width: 100%;
  align-items: center;
}
header .nav__list--item {
  margin-right: 40px;
}
header .nav__list--item-link {
  color: #1a0a03;
  text-transform: capitalize;
  transition: all 0.2s;
}
header .nav__list--item-link.active {
  color: #ee5514;
}
header .nav__list--item-link:hover {
  color: #ee5514;
}
header .nav__list--btn {
  margin-left: auto;
  padding: 15px 30px;
  background-color: #ee5514;
  border-radius: 5px;
  transition: all 0.2s;
}
header .nav__list--btn a {
  font-size: 18px;
  color: #fff;
  transition: all 0.2s;
}
header .nav__list--btn:hover {
  background-color: #ffdf9e;
}
header .nav__list--btn:hover a {
  color: #ee5514;
}

#main .home {
  width: 100%;
  height: 100vh;
  position: relative;
}
#main .home::after {
  content: "";
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(110deg, #fdeee8 75%, #fff 75%);
}
#main .home .container {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}
#main .home__left {
  width: 50%;
}
#main .home__left-title {
  max-width: 366px;
  font-size: 3.8rem;
  font-family: "Source Serif Pro", serif;
  line-height: 4.6rem;
  margin-bottom: 1.25rem;
}
#main .home__left-title span {
  font-family: "Source Serif Pro", serif;
  color: #ee5514;
}
#main .home__left-text {
  max-width: 326px;
  line-height: 1.6rem;
  opacity: 0.7;
}
#main .home__slider {
  width: 50%;
  height: 50vh;
}
#main .home__slider .owl-carousel {
  height: 100%;
}
#main .home__slider .owl-carousel .owl-stage-outer {
  padding: 1rem 0;
  height: 100%;
}
#main .home__slider .owl-carousel .owl-nav button {
  position: absolute;
  top: 40%;
  background-color: #f7b69a !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.2s;
}
#main .home__slider .owl-carousel .owl-nav button:hover {
  opacity: 1;
}
#main .home__slider .owl-carousel .owl-nav .owl-prev {
  left: -40px;
  display: none;
}
#main .home__slider .owl-carousel .owl-nav .owl-next {
  right: -30px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#main .home__slider .owl-carousel .owl-nav .owl-next span {
  display: none;
}
#main .home__slider .owl-carousel .owl-dots {
  margin-top: 1rem;
  text-align: center;
}
#main .home__slider .owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
#main .home__slider .owl-carousel .owl-dots .owl-dot.active {
  background-color: #f7b69a;
}
#main .home__slider .owl-carousel .carousel__card {
  width: 100%;
  height: 45vh;
  padding: 0 90px;
  position: relative;
}
#main .home__slider .owl-carousel .carousel__card--border {
  width: 100%;
  height: 100%;
  border: 10px solid #f7b69a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .home__slider .owl-carousel .carousel__card--border .krosovka {
  width: 100%;
  position: relative;
  z-index: 2;
  transform: scale(1.3) translate(-2%, -4%);
}
#main .home__slider .owl-carousel .carousel__card--border .ellipse {
  width: 100%;
  position: absolute;
  bottom: -20%;
  left: 0;
  z-index: 1;
}
#main .home__slider .owl-carousel .carousel__card--border .fense {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
}
#main .home__bottom {
  position: absolute;
  bottom: -67px;
  left: 15%;
  align-items: center;
  justify-content: space-evenly;
  width: 792px;
  height: 125px;
  background: #ffffff;
  box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
  border-radius: 5px;
}
#main .home__bottom--item {
  align-items: center;
}
#main .home__bottom--item p {
  color: #1a0a03;
  opacity: 0.7;
  text-transform: capitalize;
  margin-bottom: 0.7rem;
}
#main .home__bottom--item h3 {
  font-weight: 500;
  font-size: 18px;
}
#main .home__bottom--item h3 span {
  margin-right: 5px;
}
#main .home__bottom--item .line {
  width: 1px;
  height: 42px;
  background-color: #ee5514;
  margin-left: 3rem;
}
#main .home__bottom--button {
  padding: 15px 30px;
  background-color: #ee5514;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
#main .about {
  width: 100%;
  height: 100vh;
}
#main .about .container {
  display: flex;
  align-items: center;
  height: 100%;
}
#main .about__text {
  width: 50%;
}
#main .about__text--name {
  font-family: "Source Serif Pro", serif;
  color: #ee5514;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#main .about__text--title {
  font-family: "Source Serif Pro", serif;
  font-size: 2.75rem;
  line-height: 3.575rem;
  width: 340px;
  margin-bottom: 1.25rem;
}
#main .about__text--text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 326px;
  color: #1a0a03;
  opacity: 0.7;
}
#main .about__video {
  width: 50%;
  height: 380px;
  position: relative;
}
#main .about__video .front {
  width: 90%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
#main .about__video .back {
  width: 90%;
  position: absolute;
  top: 0;
  right: 0;
}
#main .about__video .play-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.2s;
}
#main .about__video .play-icon:hover {
  background-color: #fdeee8;
}
#main .feature {
  width: 100%;
  height: 95vh;
}
#main .feature__title {
  margin-bottom: 4rem;
}
#main .feature__title--text {
  text-align: center;
  font-family: "Source Serif Pro", serif;
  color: #ee5514;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.9rem;
  margin-bottom: 0.5rem;
}
#main .feature__title--title {
  text-align: center;
  font-family: "Source Serif Pro", serif;
  font-size: 2.75rem;
  line-height: 3.575rem;
}
#main .feature__list {
  justify-content: space-between;
}
#main .feature__list--card {
  width: calc(33.3333333333% - 2rem);
  border-radius: 5px;
  box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
  text-align: center;
  padding: 4rem 0;
  transition: all 0.2s;
}
#main .feature__list--card .box {
  width: 140px;
  height: 140px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e8f0fd;
  margin: 0 auto 2.5rem;
  transition: all 0.2s;
}
#main .feature__list--card .box img {
  width: 50%;
}
#main .feature__list--card .title {
  max-width: 75%;
  font-family: "Source Serif Pro", serif;
  font-size: 2.05rem;
  margin: 0 auto 1rem;
}
#main .feature__list--card .text {
  max-width: 75%;
  margin: 0 auto 1.5rem;
  font-size: 0.9rem;
  color: #1a0a03;
  opacity: 0.7;
}
#main .feature__list--card .link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #ee5514;
  text-align: center;
  transition: all 0.2s;
}
#main .feature__list--card .link span {
  margin-right: 10px;
}
#main .feature__list--card .link img {
  width: 5px;
}
#main .feature__list--card .link:hover {
  color: #1265e1;
}
#main .feature__list--card:hover {
  background-color: #fdeee8;
  box-shadow: none;
}
#main .feature__list--card:hover .box {
  background-color: #eddce8;
}

@media screen and (max-width: 1200px) {
  #main .home__slider .owl-carousel .carousel__card {
    padding: 0 60px;
  }
  #main .home__slider .owl-carousel .carousel__card--border .krosovka {
    transform: scale(1.35) translate(-2%, -4%);
  }
  #main .about__video {
    height: 300px;
  }
}
@media screen and (max-width: 1140px) {
  #main .home__slider .owl-carousel .owl-nav button {
    width: 55px;
    height: 55px;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-next {
    right: -20px;
  }
}
@media screen and (max-width: 992px) {
  header .nav__logo {
    width: 95px;
    margin-right: 186px;
  }
  header .nav__burger {
    display: flex;
  }
  header .nav__list {
    position: absolute;
    top: 125px;
    left: -100%;
    background-color: #fff;
    height: calc(100vh - 125px);
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
  }
  header .nav__list.active {
    left: 0;
    top: 125px;
    height: calc(100vh - 125px);
  }
  header .nav__list.active-scroll {
    top: 75px;
    height: calc(100vh - 75px);
  }
  header .nav__list--item {
    margin-right: 0;
    margin-bottom: 1.7rem;
  }
  header .nav__list--item-link {
    font-size: 1.6rem;
  }
  header .nav__list--btn {
    margin-left: 0;
  }
  #main .home {
    padding: 150px 0;
    height: auto;
  }
  #main .home::after {
    width: 100%;
    background: linear-gradient(105deg, #fdeee8 70%, #fff 70%);
  }
  #main .home .container {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
  }
  #main .home__left {
    width: 100%;
    margin-bottom: 2rem;
  }
  #main .home__left-title {
    margin: 0 auto 1.25rem;
    text-align: center;
  }
  #main .home__left-text {
    margin: 0 auto;
    text-align: center;
  }
  #main .home__slider {
    max-width: 60%;
    height: 315px;
    margin: 0 auto;
  }
  #main .home__slider .owl-carousel .owl-nav button {
    width: 50px;
    height: 50px;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-prev {
    left: -40px;
    display: block;
    background-image: url("../images/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-prev span {
    display: none;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-next {
    right: -40px;
  }
  #main .home__slider .owl-carousel .carousel__card {
    height: 290px;
    padding: 0 20px;
  }
  #main .home__slider .owl-carousel .carousel__card--border .krosovka {
    transform: scale(1.35) translate(-2%, -2%);
  }
  #main .home__bottom {
    bottom: -45px;
    left: 10%;
    width: 510px;
    height: 90px;
  }
  #main .home__bottom--item p {
    margin-bottom: 0.3rem;
  }
  #main .home__bottom--item h3 {
    font-weight: 500;
    font-size: 18px;
  }
  #main .home__bottom--item h3 span {
    margin-right: 3px;
  }
  #main .home__bottom--item h3 img {
    width: 0.8rem;
    height: 0.4rem;
  }
  #main .home__bottom--item .line {
    height: 42px;
    margin-left: 1rem;
  }
  #main .home__bottom--button {
    padding: 8px 16px;
    font-size: 1rem;
  }
  #main .about__video {
    height: 250px;
  }
  #main .feature {
    height: auto;
  }
  #main .feature__title {
    margin-bottom: 2.5rem;
  }
  #main .feature__title--title {
    font-size: 2rem;
    line-height: 2.875rem;
  }
  #main .feature__list {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  #main .feature__list--card {
    width: calc(50% - 2rem);
    margin: 0 1rem 2rem 1rem;
  }
  #main .feature__list--card .box {
    width: 130px;
    height: 130px;
    margin: 0 auto 2rem;
  }
  #main .feature__list--card .title {
    max-width: 100%;
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 0.7rem;
  }
  #main .feature__list--card .text {
    max-width: 66%;
    height: 4.05rem;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 768px) {
  #main .home__left-title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  #main .home__slider {
    width: 90%;
    height: 296px;
  }
  #main .home__slider .owl-carousel .owl-nav button {
    width: 45px;
    height: 45px;
  }
  #main .home__slider .owl-carousel .carousel__card {
    width: 100%;
    height: 266px;
    padding: 0 20px;
  }
  #main .home__slider .owl-carousel .carousel__card--border .krosovka {
    transform: scale(1.4) translate(-2%, -2%);
  }
  #main .home__bottom {
    left: 5%;
  }
  #main .about {
    height: auto;
    padding: 6rem 0 3rem 0;
  }
  #main .about .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
  }
  #main .about__text {
    width: 100%;
    margin-bottom: 3rem;
  }
  #main .about__text--title {
    width: 80%;
    font-size: 2.3rem;
    line-height: 3rem;
  }
  #main .about__text--text {
    width: 80%;
  }
  #main .about__video {
    width: 100%;
    height: 360px;
    position: relative;
  }
  #main .about__video .front {
    width: 90%;
  }
  #main .about__video .back {
    width: 90%;
  }
  #main .feature {
    padding: 2rem 0;
  }
  #main .feature__title {
    margin-bottom: 2.2rem;
  }
  #main .feature__title--text {
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-bottom: 0.4rem;
  }
  #main .feature__title--title {
    font-size: 1.9rem;
    line-height: 2.775rem;
  }
  #main .feature__list--card {
    width: 100%;
    padding: 3rem 0;
    margin: 0 0 2rem 0;
  }
  #main .feature__list--card .box {
    width: 120px;
    height: 120px;
  }
  #main .feature__list--card .text {
    height: 43.2px;
  }
  #main .feature__list--card .link {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  #main .home {
    padding: 150px 0 100px 0;
  }
  #main .home__slider {
    width: 95%;
    height: 283px;
  }
  #main .home__slider .owl-carousel .owl-nav button {
    width: 35px;
    height: 35px;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-prev {
    left: -45px;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-next {
    right: -45px;
  }
  #main .home__slider .owl-carousel .carousel__card {
    height: 253px;
    padding: 0 0.5rem;
  }
  #main .home__slider .owl-carousel .carousel__card--border .krosovka {
    transform: scale(1.47) translate(-2%, -2%);
  }
  #main .home__bottom {
    display: none;
  }
  #main .about {
    height: auto;
    padding: 6rem 0 3rem 0;
  }
  #main .about__text--title {
    font-size: 2rem;
    line-height: 2.7rem;
  }
  #main .about__video {
    height: auto;
  }
  #main .about__video .front {
    width: 100%;
    position: relative;
  }
  #main .about__video .back {
    display: none;
  }
  #main .about__video .play-icon {
    width: 70px;
    height: 70px;
  }
  #main .about__video .play-icon img {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 490px) {
  header .nav {
    padding: 30px 0;
  }
  header .nav.top {
    padding: 15px 0;
  }
  header .nav__logo {
    margin-right: auto;
  }
  header .nav__burger {
    width: 38px;
    height: 34px;
  }
  header .nav__burger i {
    font-size: 1.8rem;
  }
  header .nav__burger i.bi-x-lg {
    font-size: 1.5rem;
  }
  header .nav__list {
    top: 105px;
  }
  header .nav__list.active {
    top: 105px;
    height: calc(100vh - 105px);
  }
  header .nav__list.active-scroll {
    top: 75px;
    height: calc(100vh - 75px);
  }
  #main .home__slider {
    width: 100%;
    max-width: 75%;
  }
  #main .feature__title {
    margin-bottom: 2.2rem;
  }
  #main .feature__title--text {
    font-size: 1.25rem;
    margin-bottom: 0.6rem;
    text-align: left;
  }
  #main .feature__title--title {
    font-size: 2rem;
    line-height: 2.7rem;
    text-align: left;
    width: 80%;
  }
  #main .feature__list--card {
    padding: 2.5rem 0;
  }
  #main .feature__list--card .box {
    width: 110px;
    height: 110px;
  }
  #main .feature__list--card .text {
    max-width: 70%;
    height: 4.05rem;
  }
}
@media screen and (max-width: 380px) {
  #main .home__left-title {
    max-width: 80%;
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
  #main .home__slider {
    max-width: 85%;
  }
  #main .home__slider .owl-carousel .owl-nav button {
    width: 35px;
    height: 35px;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-prev {
    left: -35px;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-next {
    right: -35px;
  }
}
@media screen and (max-width: 320px) {
  #main .home__left-title {
    max-width: 80%;
    font-size: 2rem;
    line-height: 2.6rem;
  }
  #main .home__left-text {
    font-size: 0.9rem;
  }
  #main .home__slider {
    height: 240px;
  }
  #main .home__slider .owl-carousel .owl-nav button {
    width: 30px;
    height: 30px;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-prev {
    top: 45%;
    left: -30px;
  }
  #main .home__slider .owl-carousel .owl-nav .owl-next {
    top: 45%;
    right: -30px;
  }
  #main .home__slider .owl-carousel .carousel__card {
    height: 210px;
  }
  #main .feature__list--card .text {
    max-width: 85%;
    height: 4.05rem;
  }
}
@media screen and (max-width: 290px) {
  #main .home__slider {
    height: 210px;
  }
  #main .home__slider .owl-carousel .owl-nav button {
    background-size: 30%;
  }
  #main .home__slider .owl-carousel .carousel__card {
    height: 180px;
  }
}/*# sourceMappingURL=style.css.map */